@page "/"

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="model.Value" />

    <button type="submit">Submit</button>
</EditForm>

Success: @response

@code{
	[Inject] private IHttpClientFactory httpClientFactory { get; set; }

	private Model model = new Model() { Value = "test" };
	private string response { get; set; }

	private async Task HandleValidSubmit()
	{
		using var client = httpClientFactory.CreateClient("AntiForgery");

		var resp = await client.PostAsJsonAsync<Model>("/api/AntiForgeryTest", model);

		response = resp.IsSuccessStatusCode.ToString();

		StateHasChanged();
	}
}